<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%=pokemon.name%></h1>
        <form action="/pokemon/<%=id%>?_method=PUT" method="post">
            Name: <input type="text" name="name" value="<%=pokemon.name%>">
            Image: <input type="text" name="img" value="<%=pokemon.img%>">
            <button type="submit">Submit</button>
        </form>
        
    
</body>
</html>