<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<h1>POKE EXPRESS</h1>

	<% for (let i = 0; i < pokemon.length; i++) {%>
     <li><a href="/pokemon/<%=i%>"><%=pokemon[i].name%></li>
     <%}%>

</body>
</html>